
{% extends "apps/dashboard/dashboard.html" %}
{% load static %}

{% block title %} Dashboard | Orders {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static '' %}">
{% endblock head %}

{% block content %}

    <div class>
        <h1>Orders Dashboard</h1>

        <h3>Orders Count: {{qs_count}}</h3>

        <h3>Orders Inventory Type Count: {{qs_inventory_type.count}}</h3>
        <h3>Orders Single Product Type Count: {{qs_product_type.count}}</h3>
    </div>
{% endblock content %}


{% block scripts %}
{% endblock scripts %}
