

django==4.2
django-dotenv
channels==3.0.5
channels_redis==3.4.1
gunicorn
psycopg2-binary
django-htmx
uuid
pillow
django-storages
boto3
pint
pathlib
dj-database-url
psycopg2
gunicorn
django-phonenumber-field
django-phonenumbers
functools
