

{% extends "base/base.html" %}
{% load static %}

{% block title %} Inventory | Clear Products {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'apps/inventories/clear.css' %}">
{% endblock head %}

{% block content %}
    <section class="main-section">
        <form action="." method="post" hx-post="{{obj.get_clear_url}}" hx-swap="none">

            {% csrf_token %}
            <div class="htmx-indicator">Loading...</div>

            <p>Are sure you want to clear all products from your <a href="{{obj.get_inventory_url}}"> inventory</a>?</p>
            <button type="submit" name="inventories:clear" value="{{obj.id}}">Clear All</button>

            {#} previous link <a href=""></a> {#}

        </form>
    </section>
{% endblock content %}


{% block scripts %}
{% endblock scripts %}