
{% extends "base/base.html" %}
{% load static %}

{% block title %} Inventory | {{client.username}} {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'apps/inventories/inventory.css' %}">
{% endblock head %}

{% block navigation %}
{% endblock navigation %}

{% block content %}
    <section class="main-section">
        <article>
            <h2>{{client}}'s inventory</h2>
            <a href="{{obj.get_clear_url}}">Clear inventory</a>
            <a href="{{obj.get_order_url}}">Order</a>
        </article>
        <article>
            {% if items %}
                {% for item in items %}
                    <div class="product">
                        <a href="{{item.product.get_absolute_url}}"><h3>{{item.product.title}}</h3></a>
                        <p>{{item.product.description}}</p>
                        <img  src="{{ item.product.image.url }}" style="width:10%;">
                        <p>price: {{item.product.price}}</p>
                        <p>amount: {{item.amount}}</p>
                        <p>discount: {{item.product.discount}}</p>

                        <a href="{% url 'inventories:delete' pk=client.pk product_slug=item.product.slug %}">Delete</a>
                    </div>
                {% endfor %}
                <hr>
                <br>
                <p>{{products}}</p>
            {% else %}
                <p>looks like this page has no content yet.</p>
            {% endif %}
        </article>
    </section>
{% endblock content %}


{% block scripts %}
{% endblock scripts %}