
{% extends "base/base.html" %}
{% load static %}

{% block title %} Categories | {{obj.name|default:"Category"}} {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'apps/categories/category.css' %}">
{% endblock head %}

{% block navigation %}
    {% if user.is_staff %}
        <a href="{% url 'products:create' category_name=obj.name %}" class="primary-link">Create Product</a>
        <a href="{{obj.get_update_url}}" class="regular-link">Update</a>
        <a href="{{obj.get_delete_url}}" class="regular-link">Delete</a>
    {% endif %}
{% endblock navigation %}

{% block content %}
    <section class="main-section">
        {% if qs %}
        <section class="products-section">
            {% include "apps/products/forms/products.html" %}
        </section>
        {% else %}
            <p>looks like this page has no content yet.</p>
        {% endif %}
    </section>
{% endblock content %}


{% block scripts %}
{% endblock scripts %}