
{% extends "base/base.html" %}
{% load static %}

{% block title %} Categories {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'apps/categories/categories.css' %}">
{% endblock head %}

{% block navigation %}
    {% if user.is_staff %}
        <a href="{% url 'categories:create' %}" class="regular-link">Create</a>
    {% endif %}
{% endblock navigation %}

{% block content %}
    <section class="main-section">

        {% if qs %}
            {#} <article> element will be applied for each category object {#}
            <article class="categories-field" id="categories-field">

                {% for obj in qs %}
                    <div class="category">
                        <h3><a href="{{obj.get_absolute_url}}">{{obj.title}}</a></h3>
                        <p>{{obj.description}}</p>
                        <p>{{obj.created_at}}</p>

                        <img  src="{{ obj.image.url }}" style="width:10%;">

                        <p>category active?: {{obj.active}}</p>
                    </div>
                {% endfor %}
            </article>

        {% else %}
            <p>looks like this page has no content yet.</p>
        {% endif %}
    </section>
{% endblock content %}


{% block scripts %}
{% endblock scripts %}