


{% extends "base/base.html" %}
{% load static %}

{% block title %} Categories | Delete {{obj.name|default="Category"}} {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'apps/categories/delete.css' %}">
{% endblock head %}

{% block content %}

    <section class="main-section">
        <form action="." method="post" hx-post="." hx-swap="none" >

            {% csrf_token %}
            <div class="htmx-indicator">Loading...</div>

            <p>Are sure you want to delete <a href="{{obj.get_category_url}}">{{obj.name|default:Category}}</a>?</p>
            <button type="submit" name="categories:delete">Delete</button>

            {#} previous link <a href=""></a> {#}

        </form>
    </section>

{% endblock content %}



{% block scripts %}
{% endblock scripts %}



