
{% extends "administration/base/base.html" %}
{% load static %}

{% block title %} Categories | Create Category {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'apps/categories/create.css' %}">
{% endblock head %}

{% block content %}
    <section class="main-section">

        <form action="." method="post" hx-post="." hx-swap="none" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="htmx-indicator">Loading...</div>

            {% if form %}

                <label for="{{form.name.id_for_label}}">
                    {{form.name}}
                </label>

                <label for="{{form.title.id_for_label}}">
                    {{form.title}}
                </label>

                <label for="{{form.description.id_for_label}}">
                    {{form.description}}
                </label>

                <label for="{{form.image.id_for_label}}">
                    {{form.image}}
                </label>

                <label for="{{form.active.id_for_label}}">
                    {{form.active}}
                </label>
            {% else %}
                <p>looks like this page has no content yet.</p>
            {% endif %}

            <button class="submit" name="category:created">Submit</button>
        </form>
    </section>
{% endblock content %}


{% block scripts %}
{% endblock scripts %}