
{#} Moderator user links {#}
<a href="{% url 'moderation:moderation'%}" class="primary-link">Moderation</a>

{% comment %} <a href="{% url 'moderation:users'%}" class="primary-link">Users</a>
<a href="{% url 'moderation:products'%}" class="primary-link">Products</a>
<a href="{% url 'moderation:orders'%}" class="primary-link">Orders</a>
<a href="{% url 'moderation:categories'%}" class="primary-link">Categories</a> {% endcomment %}

<a href="{% url 'pages:home'%}" class="primary-link">Back To Site</a>

{#} public links {#}
