
{% extends "base/base.html" %}
{% load static %}

{% block title %} Products | Add Items Inventory {% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'apps/products/add.css' %}">

{% endblock head %}

{% block content %}
    <section class="main-section">
        <form action="." method="post" hx-post="." hx-swap="none" >

            {% csrf_token %}
            <div class="htmx-indicator">Loading...</div>

            <p>Are sure you want to Add that <a href="{{obj.get_absolute_url}}">Product</a> to your inventory?</p>

            <label for="{{form.amount.id_for_label}}">
                {{form.amount}}
            </label>

            <button type="submit" name="products:add" value="{{obj.id}}" class="primary-link">Add</button>

            {#} previous link <a href=""></a> {#}

        </form>
    </section>

{% endblock content %}



{% block scripts %}
{% endblock scripts %}
