
{% extends "base/base.html" %}
{% load static %}

{% block title %} Products {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'apps/products/products.css' %}">
{% endblock head %}

{% block navigation %}
    {% if user.is_staff %}
        <a href="{{category.get_create_url}}" class="regular-link">Create</a>
    {% endif %}
{% endblock navigation %}

{% block content %}
    <section class="main-section">

        {% include "apps/products/forms/products.html" %}
    </section>
{% endblock content %}


{% block scripts %}
{% endblock scripts %}