
{% extends "base/base.html" %}
{% load static %}

{% block title %} Products | {{obj.title|default:"Products"}} {% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'apps/products/product.css' %}">
{% endblock head %}

{% block navigation %}

    {% if user.is_staff %}
        <a href="{{obj.get_update_url}}" class="primary-link">Update</a>
        <a href="{{obj.get_delete_url}}" class="primary-link">Delete</a>
    {% endif %}
{% endblock navigation %}

{% block content %}
    <section class="main-section">
        {% if obj %}
            <article>

                <h2>title: {{obj.title}}</h2>
                <p>descripion: {{obj.description}}</p>
                <h3>price: {{obj.price}}</h3>
                <p>quantity: {{obj.quantity}}</p>
                <p>discount?: {{obj.discount}}</p>
                <p>active?: {{obj.active}}</p>
                <p>created_at: {{obj.created_at}}</p>
                <img src="{{ obj.image.url }}" style="width:20%;">

                <form action="." method="post" hx-post="." hx-swap="none">
                    {% csrf_token %}
                    <div class="htmx-indicator">Loading...</div>

                    <div class="nav-product-actions" hx-boost="true" >
                        <a href="{{obj.get_add_url}}" hx-swap="outerHTML">Add</a>
                        <a href="{{obj.get_order_url}}" hx-swap="outerHTML">Order</a>
                    </div>

                </form>

            </article>
        {% else %}
            <p>looks like this page has no content yet.</p>
        {% endif %}
    </section>
{% endblock content %}



{% block scripts %}
{% endblock scripts %}