


{% extends "base/base.html" %}
{% load static %}

{% block title %} Orders | {{client.username}} {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'apps/orders/orders.css' %}">
{% endblock head %}

{% block navigation %}
{% endblock navigation %}

{% block content %}
    <section class="main-section">
        <article>
            <h2>{{client}}'s orders</h2>
        </article>
        <article>
            {% if obj %}
                {% for order in obj %}
                    <div class="order">
                        <a href="{{order.get_absolute_url}}"><h3>{{order}}</h3></a>
                        <p> Status: {{order.get_status_display}}</p>
                        <p> type: {{order.order_type}}</p>
                        <p> Product count: {{order.items.count}}</p>
                        <p> Total Price: {{order.total_price}}</p>
                        <p> Total Amount: {{order.total_amount}}</p>
                        <p> Created at: {{order.created_at.date}}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>looks like this page has no content yet.</p>
            {% endif %}
        </article>
    </section>
{% endblock content %}


{% block scripts %}
{% endblock scripts %}